einops
opencv-python-headless
imageio-ffmpeg
scikit-video
matplotlib
scipy
fire
tqdm
packaging
librosa
pesq
mir_eval
pystoi
PyYAML>=5.4
fsspec[http]>=2021.05.0, !=2021.06.0
tensorboard>=2.2.0
pyDeprecate>=0.3.1, <0.4.0
packaging>=17.0
typing-extensions>=4.0.0
